<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_media_play"
        android:label="Frequency Panner"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Audio Effect Registration -->
        <meta-data
            android:name="android.media.audiofx.FREQUENCY_PANNER"
            android:value="frequency_panner_effect" />
        
    </application>

</manifest>
